$textBase: 14px !default;
$textSmall: 12px !default;
$textColor: #333 !default;
$lineHeight: 1.42 !default;

$gray: #888!default;

$primary: rgb(33, 150, 243) !default;
$primaryContrast: #fff !default;

$default: #ced4da !default;
$defaultContrast: $textColor !default;

$borderColor: #ced4da !default;
$labelColor: #888 !default;
$checkbox: #ddd !default;


*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-size: $textBase;
  line-height: $lineHeight;
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

.hide{
  display: none !important;
}

main {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  header{
    flex: 0;
  }
  body{
    flex: 1;
  }
  footer{
    flex: 0;
    margin-top: auto;
  }
}

h2{
	font-size: 16px;
  font-weight: bold;
  margin: 0;
	margin-bottom: 16px;
}

button{
  display: inline-block;
  vertical-align: middle;
  font-size: $textBase;
  border: 1px solid;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: all ease 0.25s;
  + button{
    margin-left: 16px;
  }
  &.primary{
    border-color: $primary;
    color: $primaryContrast;
    background-color: $primary;
    &:hover{
      background-color: lighten($primary, 10%);
      border-color: lighten($primary, 10%);
    }
  }
  &.default{
    border: 1px solid $default;
    color: $gray;
    background-color: transparent;
    &:hover{
      background-color: lighten($default, 10%);
      color: $defaultContrast;
    }
  }
}

.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}

.row {
  display: flex;
  align-items: center;

  .text-field {
    flex-basis: 50%;
    &--single{
      flex-basis: calc(50% - 8px);
    }
    &:last-child {
      margin-left: 16px;
    }
    &:first-child {
      margin-left: 0;
    }
  }
}

.form-group {
  margin-bottom: 16px;

  &__title {
    font-weight: bold;
    font-size: $textSmall;
    margin-bottom: 6px;
  }
}

.text-field {
  position: relative;

  label {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    color: $labelColor;
    font-size: $textSmall;
    line-height: $lineHeight;
    margin: 0;
    white-space: nowrap;
    letter-spacing: 0.1em;
  }

  input {
    font-size: 1rem;
    position: relative;
    background: transparent;
    font-weight: bold;
    text-align: right;
    height: 32px;
    padding: 4px 8px 4px 72px;
    z-index: 2;
    display: block;
    width: 100%;
    line-height: $lineHeight;
    color: #495057;
    border-radius: 2px;
    border: 1px solid $borderColor;
    transition: border-color .15s ease-in-out,
      box-shadow .15s ease-in-out,
      -webkit-box-shadow .15s ease-in-out;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin-left: 8px;
    }
  }
}

// checkbox
.checkbox{
  margin-bottom: 6px;
  padding-left: 24px;
  color: $textColor;
  margin-top: 0;
  cursor: pointer;
  position: relative;
  text-transform: none;

  z-index: 0;
  display: inline-block;

  &__input{
    position: absolute;
    left: -9999px;
    appearance: none;
    // checked
    &:checked {
      ~ .checkbox__label {
        &:before {
          border-width: 0;
          background-color: $primary;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#fff' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z' /%3E%3C/svg%3E");
        }
      }
    }
    // focus
    &:focus {
      ~ .checkbox__label {
        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          animation: press 0.75s 1;
        }
      }
    }
    // disabled
    &:disabled {
      ~ .checkbox__label {
        &:before {
          cursor: not-allowed;
          border-color: $gray;
        }
      }
      &:checked {
        ~ .checkbox__label {
          cursor: not-allowed;
          &:before {
            background-color: $gray;
            border-color: $gray;
          }
        }
      }
    }
  }
  &__label{
    display: block;
    font-size: $textSmall;
    color: $textColor;
    line-height: 1.5;
    font-weight: bold;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 18px;
      height: 18px;
      outline: none;
      border: 2px solid $checkbox;
      border-radius: 2px;
      background-color: #fff;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 14px 14px;
      transition: all ease 0.25s;
    }
  }
}

@keyframes press {
  0% {
    box-shadow: 0 0 0 0 lighten($primary, 10%);
  }

  50% {
    box-shadow: 0 0 0 12px rgba( lighten($primary, 10%) , .35 );
  }

  100% {
    box-shadow: 0 0 0 12px rgba( lighten($primary, 10%) , 0 );
  }
}